{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
	<div class="media">
	  <img class="rounded-circle account-img" src="{{ image_file }}">
	  <div class="media-body">
		<h2 class="account-heading">{{ current_user.username }}</h2>
		<p class="text-secondary">{{ current_user.email }}</p>
	  </div>
	</div>
	<form action="" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Account Info</legend>
			<div class="form group">
				{{ form.username.label(class="form-control-label")}}

				{% if form.username.errors %}
					{{ form.username(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-control form-control-lg")}}
				{% endif %}
			</div>
			<div class="form group">
				{{ form.email.label(class="form-control-label")}}

				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-control form-control-lg")}}
				{% endif %}
			</div>
			<div class="form group">
				{{ form.picture.label()}}
				{{ form.picture(class="form-control-file")}}
				{% if form.picture.errors %}
					{% for error in form.picture.errors %}
						<span>{{ error }}</span><br></br>
					{% endfor %}
				{% endif %}
			</div>
		</fieldset>
		<div class="form group">
			{{ form.submit(class="btn btn-outline-info")}}
		</div>
	</form>
	</div>
{% endblock content %}

{% block sidecontent %}
<div class="content-section">
  <h3>User List</h3>
  <p class='text-muted'>Follow some friends!
	<ul class="list-group">
	  {% for user in users %}
		<li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ user[1] }}</h6>
            <small class="text-muted">{{ user[2] }}</small>
          </div>
		  {% if user[1] == current_user.username %}
		  	<div style="width:1000px;" align="right">
		    <span class="text-muted">Me</span>
			</div>
		  {% else %}
		    <div style="width:70px;" align="right">
			{% if user[0] not in friends_id %}
		      <a class="btn btn-outline-info btn-sm pull-right btn-block" href="{{url_for('users.account', friend_id=user[0])}}">Follow</a>
			{% else %}
			  <a class="btn btn-info btn-sm pull-right btn-block" href="{{url_for('users.account', friend_id=user[0])}}">Followed</a>
			{% endif %}
			</div>
		  {% endif %}
        </li>
	  {% endfor %}
	</ul>
  </p>
</div>

{% endblock sidecontent %}
