{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
			  {% if current_user.is_authenticated %}
			  	<div>
						<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update_business', business_id=business[0])}}">Update</a>
						<button type="buttion" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
			  	</div>
			  {% endif %}
			</div>
			<h2 class="article-title">{{ business[1] }}</h2>
			<p class="article-content">Address: {{ business[2] }}<br>City: {{ business[3] }}<br>Rating: {{ business[6] }}<br>Review Counts: {{ business[7] }}<br>Categories: {{ business[8] }}
				<br>Monday Hour: {{ business[9] }}<br>Tuesday Hour: {{ business[10] }}<br>Wednesday Hour: {{ business[11] }}<br>Thursday Hour: {{ business[12] }}<br>Friday Hour: {{ business[13] }}<br>Saturday Hour: {{ business[14] }}<br>Sunday Hour: {{ business[15] }}</p>
		</div>
	</article>

	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">Delete this business?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<form action="{{ url_for('main.delete_business', business_id = business[0])}}" method="post">
				<input type="submit" class="btn btn-danger" value="Delete">
					</form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock content %}
