{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<form action="" method="POST">
		{{ form.hidden_tag() }}

		<fieldset class="form-group">

			<legend class="border-bottom mb-4">{{ legend }}</legend>
			<div class="form group">
				{{ form.name.label(class="form-control-label")}}

				{% if form.name.errors %}
					{{ form.name(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.name(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.address.label(class="form-control-label")}}
				{% if form.address.errors %}
					{{ form.address(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.address.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.address(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.city.label(class="form-control-label")}}
				{% if form.city.errors %}
					{{ form.city(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.city.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.city(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.stars.label(class="form-control-label")}}
				{% if form.stars.errors %}
					{{ form.stars(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.stars.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.stars(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.review_count.label(class="form-control-label")}}
				{% if form.review_count.errors %}
					{{ form.review_count(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.review_count.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.review_count(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.categories.label(class="form-control-label")}}
				{% if form.categories.errors %}
					{{ form.categories(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.categories.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.categories(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.monday_hour.label(class="form-control-label")}}
				{% if form.monday_hour.errors %}
					{{ form.monday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.monday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.monday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.tuesday_hour.label(class="form-control-label")}}
				{% if form.tuesday_hour.errors %}
					{{ form.tuesday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.tuesday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.tuesday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.wednesday_hour.label(class="form-control-label")}}
				{% if form.wednesday_hour.errors %}
					{{ form.wednesday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.wednesday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.wednesday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.thursday_hour.label(class="form-control-label")}}
				{% if form.thursday_hour.errors %}
					{{ form.thursday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.thursday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.thursday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.friday_hour.label(class="form-control-label")}}
				{% if form.friday_hour.errors %}
					{{ form.friday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.friday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.friday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.saturday_hour.label(class="form-control-label")}}
				{% if form.saturday_hour.errors %}
					{{ form.saturday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.saturday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.saturday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

			<div class="form group">
				{{ form.sunday_hour.label(class="form-control-label")}}
				{% if form.sunday_hour.errors %}
					{{ form.sunday_hour(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.sunday_hour.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.sunday_hour(class="form-control form-control-lg")}}
				{% endif %}
			</div>

		</fieldset>

		<div class="form group">
			{{ form.submit(class="btn btn-outline-info")}}
		</div>
	</form>
</div>
{% endblock content %}
